body{
    background-color: lightpink;
}
h1{text-align: center;
color: red;
text-decoration: underline;}
h2{text-align: center;
color: blue;}
p{font-style: italic;}
#l1{color: coral;
font-weight: bold;}
.l2{color: darkred;
text-decoration: underline;
font-weight: bold;}
