body{background-color: mediumaquamarine;}
h1{text-align: center;
color: deeppink;
text-decoration: underline;}
h2{text-align: center;
color: mediumorchid;}
#l1{color: rebeccapurple;
font-weight: bold;}
.l2{color: mediumvioletred;
font-weight: bold;}