body{background-color: paleturquoise;}
.Monday{color: red;}
.Tuesday{color: slateblue;}
.Wednesday{color: springgreen;}
.Thursday{color: violet;}
.Friday{color: blue;}
.Saturday{color: seagreen;}
.Sunday{color: slateblue;}
h1{text-align: center;
color: pink;}
table{background-color: white;
border-color: tomato;}
